validators
flask
flask_wtf
flask-SQLAlchemy
flask_login
flask_script
flask_jwt_extended
flask_migrate
wtforms
gunicorn
flask_cors
flask-JWT
flask_debug
flask-restful
flask-bcrypt
flask_jwt_extended
pymysql
click
itsdangerous
MarkupSafe
Werkzeug
authlib
google-api-python-client
google-auth
flask-login
sendgrid
sentry-sdk[flask]==0.11.2
pysafebrowsing
six==1.15.0