requests
validators
flask
flask_wtf
flask-SQLAlchemy
flask_login
flask_script
flask_jwt_extended
flask_migrate
wtforms
gunicorn
flask_cors
flask-JWT
flask_debug
flask-restful
flask_jwt_extended
flask_limiter
pymysql
click
itsdangerous
MarkupSafe
Werkzeug
uWSGI
mysqlclient