validators
flask
flask_wtf
flask-SQLAlchemy
flask_login
flask_script
flask_jwt_extended
flask_migrate
wtforms
gunicorn
flask_cors
flask-JWT
flask_debug
flask-restful
flask-bcrypt
flask_jwt_extended
pymysql
click
itsdangerous
MarkupSafe
Werkzeug
authlib==0.11
google-api-python-client
google-auth
flask-login
sendgrid