requests
validators
Flask
flask_wtf
Flask-SQLAlchemy
flask_login
flask_script
flask_jwt_extended
flask_migrate
wtforms
gunicorn
flask_cors
Flask-JWT
flask_debug
flask-restful
flask_jwt_extended
flask_limiter
pymysql
mysqlclient
click
itsdangerous
MarkupSafe
uWSGI
Werkzeug