body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

nav {
  font-family: Helvetica;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 16px;
  position: absolute;
  width: 100vw;
  z-index: 99999;
}

nav a {
  text-decoration: none;
  color: black;
}

nav span {
  margin: 2em 0em;
}

nav #contact {
  margin: 2em 3em;
  padding: 0px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#4E79C8), to(#6299F0));
  background: linear-gradient(to right, #4E79C8, #6299F0);
}

nav #contact a {
  color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 620px) {
  nav #contact {
    margin: 2em 1em;
  }
  nav {
    font-size: 16px;
  }
}

main .text {
  width: 30vw;
  height: 50vh;
  background-size: 100% 100%;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 1;
  -webkit-animation: view 4s ease;
          animation: view 4s ease;
}

@media only screen and (max-width: 1000px) {
  main .text {
    top: -12%;
    width: 50vw;
    height: 70vw;
  }
}

@media only screen and (max-width: 750px) {
  main .text {
    top: 2%;
    width: 50vw;
    height: 70vw;
  }
}

@media only screen and (max-width: 500px) {
  main .text {
    top: 15%;
    width: 50vw;
    height: 70vw;
  }
}

@media only screen and (max-width: 400px) {
  main .text {
    top: 2%;
    width: 70vw;
    height: 90vw;
  }
}

main .textBack {
  width: 100vw;
  height: 100vh;
  background: url("../svg/404Back.svg") no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: -999999;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

main .caption .captionText {
  text-align: center;
  font-family: Helvetica;
  position: absolute;
  width: 100%;
  top: 55%;
  font-size: 2em;
  font-weight: 100;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  letter-spacing: 3px;
  -webkit-animation: view 5s ease;
          animation: view 5s ease;
}

@media only screen and (max-width: 620px) {
  main .caption .captionText {
    top: 50%;
    font-size: 1.5em;
  }
}

main .buildings {
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

main .buildings .vec1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../svg/Vector1.svg") no-repeat;
  background-position: bottom;
  background-size: 100% 10%;
  z-index: -1;
  -webkit-animation: animate 2s ease;
          animation: animate 2s ease;
}

main .buildings .vec2 {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../svg/Vector2.svg") no-repeat;
  background-position: bottom;
  background-size: 100% 20%;
  z-index: -2;
  -webkit-animation: animate 1.5s ease;
          animation: animate 1.5s ease;
}

main .buildings .vec3 {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../svg/Vector3.svg") no-repeat;
  background-position: bottom;
  background-size: 100% 45%;
  z-index: -3;
  -webkit-animation: animate 1s ease;
          animation: animate 1s ease;
}

main .buildings .vec4 {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../svg/Vector4.svg") no-repeat;
  background-position: bottom;
  background-size: 100% 40%;
  z-index: -4;
  -webkit-animation: animate .6s ease;
          animation: animate .6s ease;
}

@media only screen and (max-width: 786px) {

  .shortto-getter {
    margin-top: 1%;
  }

  #main-form .main-form .main-button{
    margin-top: 1%;
  }

  main .buildings .vec1 {
    background-size: 100% 10%;
  }
  main .buildings .vec2 {
    background-size: 100% 20%;
  }
  main .buildings .vec3 {
    background-size: 100% 45%;
  }
  main .buildings .vec4 {
    background-size: 100% 40%;
  }
}

@-webkit-keyframes animate {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes animate {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes view {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes view {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */