{% extends "new-ui.html" %}

{% block body %}
    <section class="under-head-cont">
        <div class="container">
            <div class="centered form">
                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                    {% if messages %}
                        <div class="alert alert-success no-round">
                            {% for message in messages %}
                                <h1>{{ message }}</h1>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                {% with messages = get_flashed_messages(category_filter=["warning"]) %}
                    {% if messages %}
                        <div class="alert alert-warning no-round" style="color: white">
                            {% for message in messages %}
                                <h1>{{ message }}</h1>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                    {% if messages %}
                        <div class="alert alert-danger no-round">
                            {% for message in messages %}
                                <h1>{{ message }}</h1>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </section>
{% endblock %}
{% block title %}
    Email Verification Final
{% endblock %}
