<!DOCTYPE html>
<html>

<head>
    <title>Short To</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108877136-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-108877136-1');
    
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/112328/script.js');
</script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Welcome to Short To. We are URL Shortening Company. Big URLs are now a big problem for everyone. We try to make URLs shorter and smarter. Now get your custom short URL or a random one. We provide analytics and easy copy feature for your links. Now no more hustling for long links. We are here.">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <style>
        .error-url-class {
            border-color: red;
            -webkit-border-start: #ef5350;
            border-width: 1px 1px;
            box-shadow: 2px 1px 1px #ef5350;
        }
    </style>
</head>

<body>
<!-- Navbar Start -->
<nav>
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-12 col-xs-12 text-center">
                <h1 class="logo">ShortTo </h1>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-5 text-center colorChange" style="margin-top: 25px;">
                <ul class="list-inline">
                    <li onclick="changeColor('red');">
                        <button id="red">Red</button>
                    </li>
                    <li onclick="changeColor('meridian');">
                        <button id="meridian">Meridian</button>
                    </li>
                    <li onclick="changeColor('sunset');">
                        <button id="sunset">Sunset</button>
                    </li>
                    <li onclick="changeColor('timbr');">
                        <button id="timbr">Timbr</button>
                    </li>
                    <li onclick="changeColor('random');">
                        <button id="random">Random</button>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<!-- Navbar End -->
<!-- Main Body Start -->
<div class="container-fluid" id="main" style="color: white">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 center">
            <h1 class="basic-heading">Get Custom URL</h1>
            <ul class="main-point">
                <li>
                    <p>Want customized URLs for your long URLs?</p>
                </li>
                <li>
                    <p>Want analytics for your URLs?</p>
                </li>
                <li>
                    <p>Want unlimited number of shortened URLs?</p>
                </li>
            </ul>
            <p class="sub-heading">We are here to solve all your URL issues.</p>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 main-div" id="main-div">
            <form action="/" method="post" enctype="multipart/form-data">
{#                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />#}
                <label for="basic-url-2" class="label-style-2">Enter long URL to shorten it
                    {% if url_error %}
                        {{ '(Try Again! Invalid Url Given)' }}
                    {% endif %}
                    {% if blacklist_url %}
                        {{ '(The URL you entered is Blacklisted!)' }}
                    {% endif %}

                </label>
                <div class="input-group" style=" padding-right: 20px">
                    <span class="input-group-addon" id="basic-addon3">Long URL: </span>
                    <input type="url" class="form-control
                    {% if url_error %}
                    {{ 'error-url-class' }}
                    {% endif %}
                    " id="from_url" name="from_url" aria-describedby="basic-addon3"
                           placeholder="Place your long URL here" required>
                </div>
                <br>
                <br>
                <label for="basic-url" class="label-style-2" style="padding-top: 0">Your custom URL {% if error_url %}
                    {{ '(Try Again.Url is taken)' }} {% endif %}
                    {% if error_url_type %}
                        {{ '(Try Again.Invalid Url)' }} {% endif %}
                </label>
                <div class="input-group" style=" padding-right: 20px">
                    <span class="input-group-addon" id="basic-addon3">https://www.shortto.com/</span>
                    <input type="text" class="form-control
                    {% if error_url %}
                    {{ 'error-url-class' }}
                    {% endif %}
                    " id="to_url" name="to_url" aria-describedby="basic-addon3"
                           placeholder="Place your custom URL here(Optional)">
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-4">
                        <button class="btn-sbmt g-recaptcha" data-sitekey="6LeFWDYUAAAAAGNFMu6GFSbChEd7D8HnliPYMuYB" data-callback="final_click"><b>Shorten my URL</b></button>
                        <button type="submit" id="final_click" hidden></button>
                    </div>
                    <div class="col-xs-4">
                        <b>Links Shortened: </b> {{ tot_urls }} <br>
                        <b>Link Clicks: </b> {{ tot_clicks }} times
                    </div>
                    <div class="col-xs-4" style="">
                        <button class="shorted_url" onclick="location.href='/url/self/'" type="button">My short URLs
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <span><p class="text-center">A Project by <a href="http://microsoftlpu.com/">Microsoft Technical Community LPU</a></p></span>
                <p class="text-center"> © 2017 Copyright
                    <a href="https://shortto.com ">ShortTo Inc.</a> All Rights Reserved.</p>
                <p class="text-center" style="font-size: 19px;"><i>Making Links Smarter</i></p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

<script type="text/javascript" src="{{ url_for('static',filename='js/app.js') }}"></script>
<script>
    function final_click() {
        document.getElementById('final_click').click()
    }
</script>
</body>

</html>
