<!DOCTYPE html>
<html>
<head>
    <title>Short To</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <style>
        .error-url-class {
            border-color: red;
            -webkit-border-start: #ef5350;
            border-width: 1px 1px;
            box-shadow: 2px 1px 1px #ef5350;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top give-gradient">
    <div class="container give-gradient">
        <p class="navbar-heading-one">
        <p class="secondary-heading-text"><b>Short To!
        </b></p>
    </div>
</nav>
<br> <br>
<div class="row" class="secondary-heading">
    <div class="col-xs-12">
    </div>
</div>
<div class="large-grad">
    <div class="row">
        <div class="col-xs-6">
            <h1 class="basic-heading">Get custom URL</h1>
            <p class="sub-heading"> Want customized URLs for your long URLs? Want analytics for your URLs? Want
                unlimited number of shortened URLs? <br> We are here to solve all your URL issues. Made by <b>Vertos</b>
                for Vertos and the world! </p>
        </div>
        <form action="/" method="post" enctype="multipart/form-data">
            <div class="col-xs-6">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <label for="basic-url-2" class="label-style">Enter long URL to shorten it
                {% if url_error %}
                        {{ '(Try Again! Invalid Url Given)' }}
                {% endif %}
                </label>
                <div class="input-group" style="; padding-right: 20px">
                    <span class="input-group-addon" id="basic-addon3">Long URL: </span>
                    <input type="url" class="form-control
                    {% if url_error %}
                    {{ 'error-url-class' }}
                    {% endif %}
                    " id="from_url" name="from_url"
                           aria-describedby="basic-addon3"
                           placeholder="Place your long URL here" required>
                </div>
                <br> <br>
                <label for="basic-url" class="label-style" style="padding-top: 0">Your custom URL
                    {% if error_url %}
                        {{ '(Try Again.Url is taken)' }}
                    {% endif %}
                </label>
                <div class="input-group" style="; padding-right: 20px">
                    <span class="input-group-addon" id="basic-addon3">https://www.shortto.com/</span>
                    <input type="text" class="form-control
                    {% if error_url %}
                    {{ 'error-url-class' }}
                    {% endif %}
                    " id="to_url" name="to_url" aria-describedby="basic-addon3"
                           placeholder="Place your custom URL here(Optional)">
                </div>
                <br>
                <button type="submit" class="btn btn-default"><b>Shorten my URL</b></button>
            </div>
        </form>
        <br><br>

    </div>
</div>
<div class="navbar navbar-fixed-bottom">
    <div class="container-fluid" style="font-weight: bold; text-align: center;">

        <br>
        <p style="color: white"> © 2017 Copyright: <a href="https://shortto.com" style="color: white"><b>ShortTo.com :
            Making Links Shorter </b> </a></p>
    </div>
</div>


</body>
</html>
