<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta name="description"
        content="ShortTo is a premium no cost Link Shortening Service.We are commited to be add free and no cost for any duration. It offers best
        performance and advanced features for your site." />
    <meta name="keywords" content="shortto, premium url shortener, url short,lpu shortener,smart link" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    <!-- Open Graph Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="index.html" />
    <meta property="og:title" content="ShortTo - Making Links Smarter" />
    <meta property="og:description"
        content="ShortTo is a premium no cost Link Shortening Service.We are commited to be add free and no cost for any duration. It offers best
        performance and advanced features for your site." />
    <meta property="og:image" content="" />
    <link rel="icon" type="image/png" href="https://shortto-v2-cdn.s3.ap-south-1.amazonaws.com/img/favicon.png" sizes="32x32" />

    <title>ShortTo - Making Links Smarter</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <!-- Component CSS -->
    <link rel="stylesheet" type="text/css" href=" https://shortto-v2-cdn.s3.ap-south-1.amazonaws.com/css/style.css">
    <link rel="stylesheet" type="text/css" href=" https://shortto-v2-cdn.s3.ap-south-1.amazonaws.com/css/component.min.css">

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css">
    <link rel="stylesheet" type="text/css" href="https://shortto-v2-cdn.s3.ap-south-1.amazonaws.com/css/snackbar.min.css">

    <!-- Required Javascript Files -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.4/datepicker.min.js?v=0.6.4">
    </script>
    <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.4/datepicker.min.css?v=0.6.4">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js?v=1.1.0">
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/icheck.min.js?v=1.0.1"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.15/clipboard.min.js?v=1.5.15"></script>    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pace/0.4.17/pace.js?v=0.4.17"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block customstyle %}{% endblock %}
</head>
<div id="focus-overlay"></div>
<body id="body">
    <a href="#body" id="back-to-top"><i class="zmdi zmdi-chevron-up"></i></a>
    		    
			<header class="activeheadmenu other-header">
				<div class="navbar" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" onclick="In_headerFunction()"><i class="zmdi zmdi-menu"></i></button>
							<a class="navbar-brand" href="#">
							<img src="https://shortto-v2-cdn.s3.ap-south-1.amazonaws.com/img/shortto-logo-transp.png" alt="Infinity - Premium URL Shortener Theme">
							</a>
						</div>
						<div class="navbar-collapse collapse"><ul class="nav navbar-nav navbar-right"><li><a href="#">Pricing</a></li><li><a href="#">Login</a></li><li><a href="#" class="active">Get Started</a></li></ul></div>					</div>
				</div>    
			</header>