<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
      <meta name="description"
         content="ShortTo is a premium no cost Link Shortening Service.We are commited to be AD free and no cost for any duration. It offers best
         performance and advanced features for your site." />
      <meta name="keywords" content="shortto, premium url shortener, url short,lpu shortener,smart link" />
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
      <!-- Open Graph Tags -->
      <meta property="og:type" content="website" />
      <meta property="og:url" content="/" />
      <meta property="og:title" content="ShortTo - Making Links Smarter" />
      <meta property="og:description"
         content="ShortTo is a premium no cost Link Shortening Service.We are commited to be AD free and no cost for any duration. It offers best
         performance and advanced features for your site." />
      <meta property="og:image" content="" />
      <link rel="icon" type="image/png" href="https://cdn.shortto.com/img/favicon.png" sizes="32x32" />
      <title>{% block title %}{% endblock title %}</title>
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
      <!-- Component CSS -->
      <link rel="stylesheet" type="text/css" href=" https://cdn.shortto.com/css/style.css">
      <link rel="stylesheet" type="text/css" href=" https://cdn.shortto.com/css/component.min.css">
      <link rel="stylesheet" type="text/css"
         href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.shortto.com/css/snackbar.min.css">

       <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108877136-1"></script>
       <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-108877136-1');
    </script>
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      {% block customcss %}
      {% endblock %}
   </head>
   <div id="focus-overlay"></div>
   <body class='light home' id="body">
      <a href="#body" id="back-to-top"><i class="zmdi zmdi-chevron-up"></i></a>
      
      {% if self.navbar() | trim%}
         {%block navbar%}{%endblock%}
      {% else %}
      <header class="activeheadmenu other-header">
         <div class="navbar" role="navigation">
            <div class="container">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
                     onclick="In_headerFunction()"><i class="zmdi zmdi-menu"></i></button>
                  <a class="navbar-brand" href="/">
                  <img src="https://cdn.shortto.com/img/shortto-logo-transp.png"
                     alt="ShortTo - Making Links Smarter">
                  </a>
               </div>
               <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                     <li><a href="{{ url_for('login') }}">Login</a></li>
                     <li><a href="{{ url_for('register') }}" class="active">Get Started</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </header>
      {% endif %}
      
      
      {% block body %}
      {% endblock %}

     {% if self.footer() | trim %}
        {% block footer %}
        {% endblock %}
     {% else %}
         <footer class="main nousrfoot">
            <div class="container">
               <div class="row">
                  <div class="col-md-5">
                     2019 &copy; ShortTo - Making Links Smarter.
                  </div>
                  <div class="col-md-7 text-right">
                     <a href="{{ url_for('terms') }}" title='Terms and Conditions'>Terms and Conditions</a>
                     <a href='{{ url_for('policy') }}' title='Developer'>GDPR Policy</a>
                     <a href='#' title='Developer'>Developer</a>
                     <a href='#' title='Contact'>Contact</a>
                     <div class="languages">
                        <a class="active" id="show-language"><i class="zmdi zmdi-globe"></i> Language</a>
                        <div class="langs">
                           <a href='#'>English</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
     {% endif %}
     
      <!-- Required Javascript Files -->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
      <!-- Remember to include jQuery :) -->
<!-- jQuery Modal -->
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.4/datepicker.min.js?v=0.6.4"></script>
      <link rel="stylesheet" type="text/css"
         href="//cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.4/datepicker.min.css?v=0.6.4">
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js?v=1.1.0"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/icheck.min.js?v=1.0.1"></script>
      <script type="text/javascript"
         src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.15/clipboard.min.js?v=1.5.15"></script>    
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pace/0.4.17/pace.js?v=0.4.17"></script>
      <script type="text/javascript" src="https://cdn.shortto.com/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="https://cdn.shortto.com/js/snackbar.min.js"></script>
      <script type="text/javascript" src="https://cdn.shortto.com/js/application.fn.js"></script>
      <script type="text/javascript" src="https://cdn.shortto.com/js/application.js"></script>
      <script type="text/javascript" src="https://cdn.shortto.com/js/main.js"></script>
      {% block customjs %}
      {% endblock %}
      <!-- Custom Scripts -->
      <!-- <script type="application/javascript" src="https://cdn.shortto.com/js/server.js"></script> -->
      <script src="https://www.google.com/recaptcha/api.js?render=6LdMyawUAAAAAL5rvA7qwC-5F2MfrXy0G2GwgWXU"></script>
      <script>
         grecaptcha.ready(function() {
             grecaptcha.execute('6LdMyawUAAAAAL5rvA7qwC-5F2MfrXy0G2GwgWXU', {action: '/'}).then(function(token) {
                 $('#g-captcha-client-key').val(token);
             });
         });
      </script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108877136-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-108877136-1');
        </script>
      <script type="text/javascript">
         $(window).on("scroll", function () {
             if ($(window).scrollTop() > 50) {
                 $("header").addClass("activehead");
             } else {
                 //remove the background property so it comes transparent again (defined in your css)
                 $("header").removeClass("activehead");
             }
         });
         
         function In_headerFunction() {
             var element = $("header");
             element.toggleClass("activeheadmenu2");
         }
         
         
         //Custom Link Modal
         var $modallink = $('.link-shared'),
             $overlaylink = $('.overlaylink'),
             $showModallink = $('.show-modal'),
             $closelink = $('.closelink');
         
         function In_ShowLinkModal() {
             e.preventDefault();
         
             var windowHeight = $(window).height(),
                 windowWidth = $(window).width(),
                 modalWidth = windowWidth / 2; //50% of window
         
             $overlaylink.show();
             $modallink.css({
                 'width': modalWidth,
                 'margin-left': -modalWidth / 2
             });
         }
         
         $closelink.on('click', function () {
             $overlaylink.hide();
         });
         
         //Sidebar Menu
         $(document).on('click', '.quicklinks-toggle__btn', function () {
             $('body').addClass('menu_active');
         });
         
         $('#focus-overlay').on('click', function () {
             $('body').removeClass('menu_active');
         });
         
         $(document).ready(function () {
             $("#widget_news h3").append(" <i class='zmdi zmdi-info' style='color: #00BCD4;'></i>");
             $("#widget_activities h3").append(
                 " <i class='zmdi zmdi-swap-vertical-circle' style='color: #ff9800;'></i>");
             $("#widget_top_urls h3").append(" <i class='zmdi zmdi-trending-up' style='color: #4caf50;'></i>");
             $("#splash h3, #splash_create h3").append(
             " <i class='zmdi zmdi-info' style='color: #673ab7;'></i>");
             $("#overlay h3").append(" <i class='zmdi zmdi-info' style='color: #4CAF50;'></i>");
             $("#widget_tools h3").append(" <i class='zmdi zmdi-wrench' style='color: #9c27b0;'></i>");
             $("#widget_export h3").append(" <i class='zmdi zmdi-hourglass-alt' style='color: #4CAF50;'></i>");
         });
         
         //Smooth Scroll
         $('a[href*="#"]').not('[href="#"]').not('[href="#0"]').click(function (t) {
             if (location.pathname.replace(/^\//, "") == this.pathname.replace(/^\//, "") && location.hostname ==
                 this.hostname) {
                 var e = $(this.hash);
                 (e = e.length ? e : $("[name=" + this.hash.slice(1) + "]")).length && (t.preventDefault(), $(
                     "html, body").animate({
                     scrollTop: e.offset().top
                 }, 1e3, function () {
                     var t = $(e);
                     if (t.focus(), t.is(":focus")) return !1;
                     t.attr("tabindex", "-1"), t.focus()
                 }))
             }
         })
      </script>
   </body>
</html>