{% extends "new-ui.html" %}
{% block title %}
    Enter your Password - ShortTo
{% endblock %}
{% block body %}
    <section>
        <div class="container">
            <div class="centered form">
                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                    {% if messages %}
                        <div class="alert alert-danger no-round">
                            {% for message in messages %}
                                <span>{{ message }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <form role="form" class="live_form" method="post" action="">
                    <h3>Enter your password to unlock this URL</h3>
                    <p>The access to this URL is restricted. Please enter your password to view it.</p>
                    <div class="form-group">
                        <label for="pass1">Password</label>
                        <input type="password" class="form-control" id="pass1" placeholder="Password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Unlock</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
